.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(50%, auto));
  gap: 32px;
  justify-items: flex-start;
  max-width: 100%;
  width: var(--max-width);
}

/* Mobile */
@media (max-width: 700px) {

  .grid {
    grid-template-columns: 1fr;
    gap: 40px;
    justify-items: center;
  }

  .banner {
    height: 156px;
    width: 196px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}
