.main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

/* Mobile */
@media (max-width: 767px) {
  .main {
    padding: 0 16px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 768px) and (max-width: 991px) {
  .main {
    padding: 0 16px;
  }
}

